<ion-app>
  <ion-content fullscreen class="flex items-center justify-center">
    <!-- Opcional: un wrapper para limitar ancho y añadir padding -->
    <div class="w-full h-screen flex items-center justify-center">
      <amplify-authenticator>
        <ng-template amplifySlot="authenticated" let-user="user" let-signOut="signOut">
          <!-- Tu app tras el login -->
          <ion-header>
            <ion-toolbar>
              <ion-title>Hola, {{ user.username }}</ion-title>
              <ion-buttons slot="end">
                <ion-button (click)="signOut()">Cerrar sesión</ion-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-header>
          <ion-content class="ion-padding">
            <ion-router-outlet></ion-router-outlet>
          </ion-content>
        </ng-template>
      </amplify-authenticator>
    </div>
  </ion-content>
</ion-app>
